
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* 
<576px	
≥576px	sm
≥768px	md
≥992px	lg
≥1200px	xl
≥1400px xxl
*/
/* NavBar */
body{
    font-family: "Open Sans", sans-serif;
}
body *{
    font-weight: 400;
}
.bold-700{
    font-weight: 700 !important;
}





.bg-body-tertiary{
    background-color: #E83E8C !important;
}
.navbar-nav{
--bs-nav-link-color: white;
--bs-nav-link-hover-color: rgb(0, 169, 199);
}

.sect-divisa{
    background-color: #17A2B8;
}

h1{
    font-size: 3rem;
}